<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <node name="lidar"          pkg="driver_bot_cpp"  type="rplidar_node.py" output="screen"/>
  <node name="angleDetection"          pkg="driver_bot_cpp"  type="angle_node.py" output="screen"/>
  <node name="distanceDetection"          pkg="driver_bot_cpp"  type="distance_node.py" output="screen"/>
  <node name="runScript"          pkg="driver_bot_cpp"  type="run_node.py" output="screen"/>
</launch>
